* {
  margin: 0;
  padding: 0;
}
.title{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.subtitle {
  text-align: center;
}
.b-color-1616 {
  background-color: #161616;
}
.cards{
  background-color: #252525;
  width: 30%;
  border-radius: 8px;
  border: 1px solid #414141;
}
.font-small{
  font-size: 12px;
}
.font-medium{
  font-size: 16px;
}
.font-large{
 font-size: 24px;
}
.level {
  font-size: 16px;
  border-radius: 100px;
}
.easy {
  border: 1px solid #97E3FF;
  background-color: #223851;
  color: #4EEDFF;
}
.medium {
  border: 1px solid #FFD6A8;
  background-color: #4A422F;
  color: #FFD6A8;
}
.hard {
  border: 1px solid #FF9797;
  background-color: #522727;
  color: #FFAEAE;
}